<div class="container page-3 m-3 px-3">
  <div class="activity-form">

<%= simple_form_for @activity_cost do |f| %>
  <div class="form-wrapper">
    <%= f.input :actual_cost, label: 'Total amount paid' %>
    <%= f.input :service_tip, label: 'Additional cost' %>
    <%= f.input :employer_contribution, label: 'Employer contribution or Discount'%>
    <%= f.input :currency, label: 'Currency' %>
    <%= f.input :paid_by, collection: @members, value_method: :name, include_blank: false %>
  </div>

  <div class="btn-wrapper">
    <%= link_to "back", class:"btn-light" %>
    <%= f.submit "next", class:"btn-light" %>
  </div>
  <% end %>
</div>

</div>
