<div class="activity-edit setup">
  <div class="container">
    <%= simple_form_for [@activity_cost.group, @activity_cost] do |f| %>
      <div class="form-wrapper">
        <div class="wrapper">
          <h1><span>3 </span>edit total initial cost<sup> *</sup></h1>
          <%= f.input :actual_cost, label: 'total amount paid' %>
          <%= f.input :currency, collection: ActivityCost::CURRENCY, label: 'Currency', include_blank: false %>
        </div>
        <div class="wrapper">
          <h2>edit total cost was paid by<sup> *</sup></h2>
          <%= f.input :paid_by, collection: @members, value_method: :name, include_blank: false %>
        </div>
        <div class="wrapper">
          <h2>edit split evenly or individually<sup> *</sup></h2>
          <p>here you can choose if you would like to divid the total cost evenly or individually between everyone in the group.</p>
          <%= f.input :split_type, as: :radio_buttons, collection: ['evenly', 'individualy']%>
        </div>
        <div class="wrapper">
          <h2>edit additional costs</h2>
          <p class="text-thin">here you can add an additional cost like a tip.</p>
          <%= f.input :service_tip, label: 'Additional cost' %>
          <h2>edit cost reductions</h2>
          <p class="text-thin">here you can subtract an amount that's already been paid.</p>
          <%= f.input :employer_contribution, label: 'Employer contribution or Discount'%>
        </div>
        <div class="btn-wrapper">
          <%= link_to "ðŸ ", root_path, class:"btn btn-light btn-icon", data: { turbolinks: false } %>
          <%= link_to "back", new_group_path, class:"btn btn-light", data: { turbolinks: false }  %>
          <%= f.submit "save", class:"btn btn-light", data: { turbolinks: false } %>
        </div>
      </div>
    <% end %>
  </div>
</div>
