<div class="groups-new">
  <div class="container">
    <h1><span>1 </span>name your group<sup> *</sup></h1>
    <p>here you can choose a team name</p>
    <%= simple_form_for @group do |f| %>
		  <%= f.input :group_name, lable: false, placeholder: 'ðŸ‘‰ðŸ¼ best team ever' %>
      <div class="btn-wrapper">
        <%= link_to "back", root_path, class:"btn-light", data: { turbolinks: false } %>
        <%= f.submit 'ðŸ’¾ save and go to the next step', class:"btn-light", data: { turbolinks: false } %>
      </div>
		<% end %>

  <div class="accordion-wrapper">
    <% if current_user %>
      <h2 class="font-weight-normal">saved groups<sup> *</sup></h2>
      <p class="text-thin">here you can see your saved groups and start a new split.</p>

      <% current_user.groups.each do |group| %>

        <div class="accordion">
          <div class="acc-tab">
            <%#= link_to group.group_name, new_group_activity_cost_path(group) %>
            <button class="acc-btn">
              <span><%= group.group_name %></span>
              <span> + </span>
            </button>
          </div>

          <div class="acc-tabpanel">
            <div class="acc-tabpanel-inner">
              <div class="text-thin">
                <% group.members.each do |member| %>
                <div>
                  <%= member.name %>
                </div>
                <% end %>
              </div>

              <div class="action-wrapper">
                <%= link_to "Edit", edit_group_path(group), class:"btn btn-light btn-small" %>
                <%= link_to "ðŸ—‘", group_path(group), method: :delete, class:"btn btn-light btn-small" %>
                <%= link_to "start a new split with this team ", new_group_activity_cost_path(group), class:"btn btn-light btn-small" %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
 </div>
</div>
