<div class="splits-index">
  <div class="container">
    <p class="heading">Okay members of <%= @activity_cost.group.group_name %>! Let's split the cost between us <strong><%= @activity_cost.split_type %></strong></p>

      <% @splits.each do |split| %>
        <% if split.member.name == split.activity_cost.paid_by %>
        <div class="accordion open">
          <div class="acc-tab">
            <button class="acc-btn">
              <span><%= split.member.name %></span>
              <span> + </span>
            </button>
          </div>

          <div class="acc-tabpanel">
            <div class="acc-tabpanel-inner">
              <span class="text-thin">you spent <%= split.individual_balances %> <%= split.activity_cost.currency %> </span>

              <div class="action-wrapper">
                <% if split.status = false %>
                  <button class="btn btn-light btn-small btn-outstanding"> outstanding</button>
                <% else %>
                  <button class="btn btn-light btn-small btn-paid"> paid</button>
                <% end %>
              </div>
            </div>
          </div>
        </div>

      <% else %>

      <div class="accordion open">
          <div class="acc-tab">
            <button class="acc-btn">
              <span><%= split.member.name %></span>
              <span> + </span>
            </button>
          </div>

          <div class="acc-tabpanel">
            <div class="acc-tabpanel-inner">
              <span class="text-thin">please pay <%= split.activity_cost.paid_by %> <%= split.individual_balances %> <%= split.activity_cost.currency %></span>

              <div class="action-wrapper">
                <% if split.status = false %>
                  <button class="btn btn-light btn-small btn-paid"> paid</button>
                <% else %>
                  <button class="btn btn-light btn-small btn-outstanding"> outstanding</button>
                <% end %>
              </div>
            </div>
          </div>
        </div>

        <% end %>
      <% end %>

      <div class="sum">
        <p class="total">total cost: <%= @activity_cost.actual_cost %></p>
        <p class="subtracting">subtracting cost - <%= @activity_cost.employer_contribution %></p>
        <p class="additional">additional cost + <%= @activity_cost.service_tip %></p>
        <p class="balance">total amount: <%= @activity_cost.total_balance %></p>
      </div>
      <p>Send the link to your group so people can see how much they owe and confirm when they have paid. 🤓</p>
      <div class="btn-wrapper">
        <%= link_to "back", new_activity_cost_split_path, class: "btn btn-light", data: { turbolinks: false } %>
        <button class="btn btn-dark">send link</button>
      </div>
    </div>
  </div>
</div>
