<div class="splits-index setup">
  <div class="container">
    <div class="context">
      <h1 class="heading">Okay members of <%= @activity_cost.group.group_name %>!</h1>
      <p>Let's split the cost between us <strong><%= @activity_cost.split_type %></strong></p>
      <p>Send the link to your group so people can see how much they owe and confirm when they have paid. 🤓</p>
    </div>

    <% if @activity_cost.split_type == 'evenly'%>
      <%= render 'evenly', splits: @splits %>
    <% else %>
      <%= render 'individually', splits: @splits %>
    <% end %>





      <div class="sum">
        <p class="total">total cost: <%= @activity_cost.actual_cost %><%= @currency_symbol %></p>
        <p class="subtracting">subtracting cost - <%= @activity_cost.employer_contribution %><%= @currency_symbol %></p>
        <p class="additional">additional cost + <%= @activity_cost.service_tip %><%= @currency_symbol %></p>
        <p class="balance">total amount: <%= @activity_cost.total_balance %><%= @currency_symbol %></p>
      </div>

      <div class="btn-wrapper">
        <%= link_to "back", edit_group_activity_cost_path(@activity_cost.group, @activity_cost), class: "btn btn-light", data: { turbolinks: false } %>
        <button class="btn btn-dark btn-link">send link</button>
        <ul class="socialmedia-list is-active">
        <li class="link">
          <button class="btn btn-light" data-container="body" data-toggle="popover" data-placement="top" data-content="URL has been copied to clipboard!">
            <i class="fas fa-link"></i>
          </button>
        </li>
        <li  class="whatsapp">
          <button title="share on whats app" class="btn btn-light">
            <i class="fab fa-whatsapp"></i>
          </button>
        </li>
        <li class="slack">
          <button class="btn btn-light" onclick="window.location.href='slack://open';" data-toggle="popover" data-placement="top" data-content="URL has been copied to clipboard!">
            <i class="fab fa-slack"></i>
          </button>
        </li>
      </ul>
    </div>

  </div>
</div>
