<div class="container">
	<h2>spliting it between</h2>
	  <p>here you can add all the names of the Group you would  like to split it between.</p>
       <div>
		<%= simple_form_for [@group, @member], remote: true do |f| %>
			<% f.hidden_field :group_id, value: params[:group_id] %>
			<%= f.input :name, placeholder: ' 👉 please type one name and press + or enter to add more ..' %>
			<%= f.submit '+' %>
			  <div class="d-flex">
				<% @group.members.each do |member| %>
				  <div class="d-flex border border-light m">
					  <p><%= member.name %></p>
					  <%= link_to "🗑", group_member_path(@group, member), remote: true, method: :delete %>
				  </div>
				<% end %>
			  </div>
				<div class="btn-wrapper">
				  <%= link_to "Back", new_group_path %>
				  <%= link_to "Next", new_activity_cost_path(@group) %>
				</div>
		<% end %>
	</div>
</div>
