<div class="members setup">
  <div class="container">
  <h1><span>2 </span>group members<sup> *</sup></h1>
    <p>add the names of everyone in the group. Don't forget to include yourself!</p>
       <div class="form-member">
        <%= simple_form_for [@group, @member], remote: true do |f| %>
        <% f.hidden_field :group_id, value: params[:group_id] %>
        <div class="wrapper">
          <%= f.input :name, label: false, placeholder: ' ðŸ‘‰ type a name and press + or enter ' %>
          <%= f.submit '+', class:"cross"%>
        </div>
        <% @group.members.each do |member| %>
          <button type="button" class="btn btn-light"><%= member.name %><%= link_to "ðŸ—‘", group_member_path(@group, member), remote: true, method: :delete, class:"delete" %></button>
        <% end %>
        <div class="btn-wrapper">
          <%= link_to "ðŸ ", root_path, class:"btn btn-light btn-icon", data: { turbolinks: false } %>
          <%= link_to "back", new_group_path, class:"btn btn-light", data: { turbolinks: false } %>
            <% if @group.members.any? %>
              <%= link_to "next", new_group_activity_cost_path(@group), class:"btn btn-light", data: { turbolinks: false } %>
            <% else %>
              <button class="btn btn-light">Next</button>
            <% end %>
        </div>
    <% end %>
  </div>
</div>
</div>
